name: dienos_calendar
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  domain:
    path: ./domain
  flutter_localizations:
    sdk: flutter

  # Remote Packages
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1
  table_calendar: ^3.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
